/* RESET */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol , menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentcolor;
}

img{
    max-width: 100%;
}


/* LAYOUT  */

.conteiner{
    max-width: 1024px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


#app{
    display: flex;
}



/* HEADER */



.header__nav .row{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 90vh;
    padding: 30px;
    background-color: black;
    color: white;
    width: 200px;
    flex-shrink: 0;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.header__list{
    list-style: unset;
}





/* MAIN */

.main__page{
	flex-grow: 1;
	background-color: #494949;
}

.main__page__sub__bar{
    padding: 30px;
    background-color: aqua;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}






/* FOOTER */

.footer__bar .row{
    justify-content: space-between;
    align-items: center;
    background-color: rgb(94, 94, 94);
    color: white;
    height: 10vh;
    width: 100%;
    padding: 0px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}


.footer__bar__list{
    list-style: unset;
}

.footer__bar__list li{
    display: inline-block;
}